.header {
  height: 120px;
  width: 100%;
  margin-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.9);
  overflow: hidden;
  box-shadow: 5px 5px 5px #c8c8c8;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .header-wrapper {
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 70%;

    a {
      height: 100%;

      .logo-container {
        height: 120%;
        box-sizing: none;
      }
    }

    .contact-link {
      text-decoration: none;
      color: rgb(50, 200, 255);
      display: flex;
      flex-direction: row;
      align-items: center;

      .contact-text {
        font-size: 18px;
        padding: 0 2px;
      }
    }
  }
  .header-dropdown-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-self: center;
    align-self: center;
    width: 60%;

    .option-div {
      background-color: rgb(92, 135, 255);
      border: solid #c8c8c8;
      border-width: 2px;
      cursor: pointer;
      width: 20%;

      .option {
        padding: 10px 15px;
        color: white;
        text-decoration: none;
      }
    }
  }
}
