.ourclients-section {
  text-align: center;
  //   background-color: rgb(245, 245, 245);
  display: flex;
  justify-content: center;
  align-items: center;

  .ourclients-section-wrapper {
    width: 100%;
  }
}
